@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Sklep muzyczny</h1>
    <h1>&#9835;&#9834;&#9835;&#9834;&#9835;&#9835;&#9834;&#9835;&#9834;&#9835;&#9835;&#9834;&#9835;&#9834;&#9835;&#9835;&#9834;&#9835;</h1>
    <h2 class="display-6" style="margin-top:20px;">Internetowy katalog produktów</h2>
    <h5 style="margin-top:30px;">Wybierz zakładkę "Katalog produktów" aby zobaczyć produkty.</h5>
</div>
