@model Sklep_muzyczny.Models.Produkt

@{
    ViewData["Title"] = "Dodaj nowy produkt";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="KategoriaId" class="control-label"></label>
                <select asp-for="KategoriaId" class="form-control" asp-items="ViewBag.KategoriaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PodkategoriaId" class="control-label"></label>
                <select asp-for="PodkategoriaId" class="form-control" asp-items="ViewBag.PodkategoriaId"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProducentId" class="control-label"></label>
                <select asp-for="ProducentId" class ="form-control" asp-items="ViewBag.ProducentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataProdukcji" class="control-label"></label>
                <input asp-for="DataProdukcji" class="form-control" />
                <span asp-validation-for="DataProdukcji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top:10px;">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top:10px;">
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
